:root {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

section {
  margin-bottom: 30px;
}

.hoursSection {
  border-bottom: 1px solid white;
  user-select: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.stageDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calc-sec {
  border-top: 1px solid white;
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1rem;
  }
}